<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>BIenvenido a mi pagina</title>
</head>
<body>
    <header>
        <h1>Programacion Visual</h1>
        <nav>
            <a href="#inicio">Inicio</a> |
            <a href="#extra">Extra</a> |
            <a href="#contacto">Contacto</a>
        </nav>
    </header>

    <main>
        <section id="inicio">
            <h2>Inicio</h2>
            <p>Bienvenido a la programacion</p>
        </section>

        <section id="Informacion">
            <h2>Informacion</h2>
            <p>Cosas que deberias saber</p>
        </section>

        <section id="contacto">
            <h2>Contacto</h2>
            <h3>Información de contacto</h3>
            <p>Correo electrónico: simortegameyer@gmail.com</p>
        </section>
    </main>

    <aside>
        <h2>Contenido adicional</h2>
        <p>Visita también:</p>
        <ul>
            <li>https://es.wikipedia.org/wiki/Programaci%C3%B3n_visual<a href="#">Sitio 1</a></li>
            <li><a href="#">Sitio 2</a></li>
        </ul>
        <img src="ejemplo.jpg" alt="Imagen">
    </aside>

    <footer>
        <p>¡Síguenos en nuestras redes sociales!</p>
        <nav>
            <a href="#">Facebook</a> |
            <a href="#">Tiktok</a> |
            <a href="#">Instagram</a>
        </nav>
    </footer>
</body>
</html>
